[submodule "third_lib/iutest"]
	path = third_lib/iutest
	url = https://github.com/srz-zumix/iutest
[submodule "third_lib/test"]
	path = third_lib/test
	url = https://github.com/boostorg/test
[submodule "third_lib/boost/test"]
	path = third_lib/boost/test
	url = https://github.com/boostorg/test
